<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP Address Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>

        .div{
            text-align: center;
            }
    </style>
</head>
<body>

    <div class="container">

    <h2>IP Address Converter</h2>

    <form method="post">
        <label for="conversionChoice">Choose IP Conversion:</label>
        <select name="conversionChoice" id="conversionChoice">
            <option value="1">IPv4 to IPv6</option>
            <option value="2">IPv6 to IPv4</option>
        </select>

        <br><br>

        <label for="ipAddress">Enter IP Address/Subnet::</label>
        <input type="text" name="ipAddress" id="ipAddress" placeholder="Enter IP Address">

        <br><br>

        <button type="submit">Convert</button>
    </form>

    {% if result %}
        <p>Conversion Result: {{ result }}</p>
    {% endif %}

    {% if error_message %}
        <p style="color: red;">Error: {{ error_message }}</p>
    {% endif %}
    </div>

<script>
    
        function convertIP() {
            var choice = document.getElementById("conversionChoice").value;
            var ipAddress = document.getElementById("ipAddress").value;

            var result = "";
            if (choice === "1") {
                result = convertIPv4ToIPv6(ipAddress);
            } else if (choice === "2") {
                result = convertIPv6ToIPv4(ipAddress);
            } else {
                alert("Invalid Choice");
                return;
            }

            alert("Conversion Result:\n" + result);
        }

        function convertIPv4ToIPv6(ipv4Address) {
            try {
                new URL(ipv4Address);
                return ipv4Address;
            } catch (error) {
                alert("Invalid IPv4 address");
                return null;
            }
        }

        function convertIPv6ToIPv4(ipv6Address) {
            try {
                var ip6Obj = new URL(ipv6Address);
                if (ip6Obj.ipv4Mapped) {
                    return ip6Obj.ipv4Mapped;
                } else {
                    alert("The provided IPv6 Address is not IPv4-mapped.");
                    return null;
                }
            } catch (error) {
                alert("Invalid IPv6 address");
                return null;
            }
        }
    </script>

</body>
</html>
